@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom Scrollbar styled with Color Hunt Palette #B4E1EB & #95BDD7 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f4fafc;
}

::-webkit-scrollbar-thumb {
  background: #b4e1eb;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #95bdd7;
}
